// See http://eslint.org/docs/rules/ for more details
{
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },

  // Custom Globals
  "globals" : {
    // Mocha
    "describe" : false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "mochaPhantomJS": false,
    "mocha": false
  },

  "rules": {
    // Possible Errors
    "no-cond-assign": "always",
    "no-console": false,
    "no-constant-condition": false,
    "no-control-regex": false,
    "no-debugger": false,
    "no-dupe-args": true,
    "no-dupe-keys": true,
    "no-duplicate-case": true,
    "no-empty": true,
    "no-empty-class": true,
    "no-ex-assign": true,
    "no-extra-boolean-cast": true,
    "no-extra-parens": true,
    "no-extra-semi": true,
    "no-func-assign": true,
    "no-inner-declarations": false,
    "no-invalid-regexp": true,
    "no-irregular-whitespace": true,
    "no-negated-in-lhs": true,
    "no-obj-calls": true,
    "no-regex-spaces": true,
    "no-reserved-keys": false,
    "no-sparse-arrays": true,
    "no-unreachable": true,
    "use-isnan": true,
    "valid-jsdoc": false,
    "valid-typeof": true,

    // Best Practices
    "block-scoped-var": false,
    "complexity": false,
    "consistent-return": true,
    "curly": true,
    "default-case": false,
    "dot-notation": true,
    "eqeqeq": [2, "smart"],
    "guard-for-in": false,
    "no-alert": true,
    "no-caller": true,
    "no-div-regex": false,
    "no-else-return": false,
    "no-empty-label": true,
    "no-eq-null": false,
    "no-eval": true,
    "no-extend-native": true,
    "no-extra-bind": true,
    "no-fallthrough": true,
    "no-floating-decimal": false,
    "no-implied-eval": true,
    "no-iterator": true,
    "no-labels": true,
    "no-lone-blocks": true,
    "no-loop-func": true,
    "no-multi-spaces": true,
    "no-multi-str": true,
    "no-native-reassign": true,
    "no-new": true,
    "no-new-func": true,
    "no-new-wrappers": true,
    "no-octal": true,
    "no-octal-escape": true,
    "no-process-env": false,
    "no-proto": true,
    "no-redeclare": true,
    "no-return-assign": true,
    "no-script-url": true,
    "no-self-compare": false,
    "no-sequences": true,
    "no-throw-literal": false,
    "no-unused-expressions": true,
    "no-void": false,
    "no-warning-comments": false,
    "no-with": true,
    "radix": false,
    "vars-on-top": false,
    "wrap-iife": false,
    "yoda": true,

    // Strict Mode
    "strict": true,

    // Variables
    "no-catch-shadow": true,
    "no-delete-var": true,
    "no-label-var": true,
    "no-shadow": true,
    "no-shadow-restricted-names": true,
    "no-undef": true,
    "no-undef-init": true,
    "no-undefined": false,
    "no-unused-vars": true,
    "no-use-before-define": true,


    // Stylistic Issues
    "indent": false,
    "brace-styl": false,
    "camelcase": true,
    "comma-spacing": true,
    "comma-style": false,
    "consistent-this": false,
    "eol-last": true,
    "func-names": false,
    "func-style": false,
    "key-spacing": true,
    "max-nested-callbacks": false,
    "new-cap": true,
    "new-parens": true,
    "no-array-constructor": true,
    "no-inline-comments": false,
    "no-lonely-if": false,
    "no-mixed-spaces-and-tabs": true,
    "no-multiple-empty-lines": false,
    "no-nested-ternary": false,
    "no-new-object": true,
    "no-space-before-semi": false,
    "no-spaced-func": true,
    "no-ternary": false,
    "no-trailing-spaces": true,
    "no-underscore-dangle": true,
    "no-wrap-func": true,
    "one-var": false,
    "operator-assignment": false,
    "padded-blocks": false,
    "quote-props": false,
    "quotes": [1, "single", "avoid-escape"],
    "semi": true,
    "semi-spacing": true,
    "sort-vars": false,
    "space-after-function-name": false,
    "space-after-keywords": false,
    "space-before-blocks": false,
    "space-before-function-parentheses": false,
    "space-in-brackets": false,
    "space-in-parens": false,
    "space-infix-ops": true,
    "space-return-throw-case": true,
    "space-unary-ops": false,
    "spaced-line-comment": false,
    "wrap-regex": false,

    // Legacy
    "max-depth": false,
    "max-len": false,
    "max-params": false,
    "max-statements": false,
    "no-bitwise": false,
    "no-plusplus": false
  }
}