{{> head}}
{{> header}}
<main class="container">
    <p>Требования: nodejs, bower</p>
    <h2>Состав</h2>
    <p>Сборка проекта с помощью gulp</p>
    <ul>
        <li>Оптимизация стилей</li>
        <li>Autoprefixer</li>
        <li>Less</li>
        <li>Sourcemaps</li>
        <li>Requirejs</li>
        <li>Browsersync</li>
        <li>Оптимизация изображений</li>
        <li>Создание веб-шрифтов</li>
    </ul>
    <p>JavaScript</p>
    <ul>
        <li>Модульная архитектура на основе AMD</li>
        <li>Базовое приложение (Маршрутизация, модальные окна, обработка форм)</li>
        <li>Unit тесты</li>
    </ul>
    <p>Стили</p>
    <ul>
        <li>Базовые стили</li>
        <li>Набор less примисей</li>
        <li>normalize.css</li>
    </ul>
</main>

<div class="container">
    <form action="">
        <input name="firstname" type="text"/>
        <br/>
        <input name="lastname" type="text"/>
        <br/>
        <textarea name="message" cols="30" rows="10"></textarea>
        <br/>
        <input name="checkbox" type="checkbox"/>
        <br/>
        <input name="radio" value="1" type="radio"/>
        <input name="radio" value="2" type="radio"/>
        <input name="radio" value="3" type="radio"/>
        <br/>
        <select name="select">
            <option value="type 1">Type 1</option>
            <option value="type 2">Type 2</option>
            <option value="type 3">Type 2</option>
        </select>
        <br/>
        <button data-ajax-form-sender="">Submit</button>
    </form>

    <p><a href="#/modal/example">Example modal</a></p>
</div>

<div class="js__happymodal happymodal happymodal-slide-top" data-happymodal="example">
    <div class="js__happymodal-dialog happymodal-dialog">
        <div class="js__happymodal-content happymodal-content">
            <a class="js__happymodal-close happymodal-close happymodal-close-icon" href="#"></a>
            <div class="happymodal-header">
                <h1 class="happymodal-title">Example slide top animation</h1>
            </div>
            <div class="happymodal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et diam id augue dapibus porttitor sed et justo. Integer ac risus eget ante sodales vulputate. Sed at sapien a nisl iaculis ultricies. Cras aliquam felis lectus, quis faucibus dui dapibus nec. Vestibulum non purus dictum, volutpat enim ac, venenatis tortor. Pellentesque ullamcorper aliquet velit vel laoreet. Proin quis metus id leo cursus consequat. Vestibulum elementum, lorem id rhoncus placerat, felis tellus viverra purus, pharetra condimentum justo lorem eu elit. Aliquam pulvinar, eros non imperdiet congue, ipsum neque aliquam lorem, at ultrices urna sapien sed elit. Aliquam facilisis aliquet mauris sed ultricies. Maecenas dui sem, eleifend sit amet dapibus ut, volutpat vel nisi.</p>
            </div>
            <div class="happymodal-footer"></div>
        </div>
    </div>
</div>

{{> footer}}