{{> head}}
{{> header}}
<main class="container">
    <p>Требования: nodejs, bower</p>
    <h2>Состав</h2>
    <p>Сборка проекта с помощью gulp</p>
    <ul>
        <li>Оптимизация стилей</li>
        <li>Autoprefixer</li>
        <li>Less</li>
        <li>Sourcemaps</li>
        <li>Requirejs</li>
        <li>Browsersync</li>
        <li>Оптимизация изображений</li>
        <li>Создание веб-шрифтов</li>
    </ul>
    <p>JavaScript</p>
    <ul>
        <li>Модульная архитектура на основе AMD</li>
        <li>Базовое приложение (Маршрутизация, модальные окна, обработка форм)</li>
        <li>Unit тесты</li>
    </ul>
    <p>Стили</p>
    <ul>
        <li>Базовые стили</li>
        <li>Набор less примисей</li>
        <li>normalize.css</li>
    </ul>
</main>
{{> footer}}
